:root {
    --sb-main-font-family: "Source Sans Pro", sans-serif;
    --sb-main-bg-color: #222;
    --sb-main-fg-color: #fff;
    --sb-grey-bg-color: #333;
    --sb-grey-fg-color: #999;
    --sb-red-bg-color: #cc1717;
    --cb-switch-color: #0e79ca;

    /* Options */
    --color-scheme: dark;
    --background: #333333;
    --menu-background: #181818;
    --menu-foreground: white;
    --dialog-background: #181818;
    --dialog-border: white;
    --tab-color: #242424;
    --tab-button-hover: #07375d;
    --tab-hover: white;
    --description: #dfdfdf;
    --disabled: #080052;
    --slider: #707070;
    --title: #dad8d8;
    --border-color: #484848;
    --black: black;
    --white: white;
}

/*
 * Main containers
 */
#sponsorBlockPopupHTML {
    color-scheme: dark;
    max-height: 600px;
    overflow-y: auto;
}

#sponsorBlockPopupBody {
    margin: 0;
    width: 374px;
    max-width: 100%;
    /* NOTE: Ensures content doesn't exceed restricted popup widths in Firefox */
    font-size: 14px;
    font-family: var(--sb-main-font-family);
    background-color: var(--sb-main-bg-color);
    color: var(--sb-main-fg-color);
    color-scheme: dark;
    text-align: center;
}

#sponsorBlockPopupBody a,
#sponsorBlockPopupBody button {
    cursor: pointer;
}

/*
 * Header logo
 */
.sbPopupLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    user-select: none;
    padding: 10px 0px 0px;
    font-size: 32px;
}

.sbPopupLogo img {
    margin: 8px;
}

/*
 * Main controls menu
 */
.sbControlsMenu {
    margin: 16px;
    margin-top: 6px;
    border-radius: 8px;
    background-color: var(--sb-grey-bg-color);
    justify-content: space-evenly;
    overflow: hidden;
    display: flex;
}

.sbControlsMenu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    user-select: none;
    cursor: pointer;
    border: none;
    flex: 1;
    padding: 10px 15px;
    transition: background-color 0.2s ease-in-out;
}

.sbControlsMenu-item:hover {
    background-color: #444;
}

.sbControlsMenu-itemIcon {
    margin-bottom: 6px;
}

/*
 * "Extension is enabled" toggle
 */
.toggleSwitchContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.toggleSwitchContainer-switch {
    display: flex;
    margin-bottom: 6px;
}

.switchBg {
    width: 50px;
    height: 23px;
    display: block;
    border-radius: 18.5px;
}

.switchBg.shadow {
    box-shadow: 0.75px 0.75px 10px 0px rgba(50, 50, 50, 0.5);
    opacity: 1;
}

.switchBg.white {
    opacity: 1;
    position: absolute;
    background-color: #ccc;
}

.switchBg.blue {
    opacity: 0;
    position: absolute;
    background-color: var(--cb-switch-color);
    transition: opacity 0.2s ease-out;
}

.switchDot {
    width: 15px;
    margin: 4px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.2s ease-out;
    background-color: var(--sb-main-fg-color);
    box-shadow: 0.75px 0.75px 3.8px 0px rgba(50, 50, 50, 0.45);
}

#toggleSwitch:checked~.switchDot {
    transform: translateX(27px);
}

#toggleSwitch:checked~.switchBg.blue {
    opacity: 1;
}

#toggleSwitch:checked~.switchBg.white {
    transition: opacity 0.2s step-end;
    opacity: 0;
}



/*
 * Footer
 */
#sbFooter {
    padding: 8px 0;
}

#sbFooter a {
    transition: background 0.3s ease !important;
    color: var(--sb-main-fg-color);
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    background-color: #333;
    padding: 4px 8px;
    font-weight: 500;
    margin: 2px 1px;
}

#sbFooter a:hover {
    background-color: #444;
}

#sponsorTimesDonateContainer a {
    color: var(--sb-main-fg-color);
    text-decoration: none;
}

/* Options */

.optionsSelector {
    background-color: #0e79ca;
    color: white;
    
    border: none;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
}

.optionLabel {
    font-size: 16px;
    padding-bottom: 5px;

    display: block;
}

.optionContainer {
    padding-bottom: 2px;
}

.switch-container {
	content: attr(label-name);
    width: max-content;

    font-size: 14px;

    display: table;
}

.switch-container .switch-label {
    display: table-cell;
    vertical-align: middle;

    padding-left: 4px;
}

.switch-label {
    width: inherit;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider);
}

.animated * {
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
}

.animated .slider:before {
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0e79ca;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch-container-container {
    display: flex;
    justify-content: center;
}