/*
 * Generic utilities
 */
.cb-grey-text {
    color: var(--sb-grey-fg-color);
}

.cb-white-text {
    color: var(--sb-main-fg-color);
}

.sbHeader {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

#sponsorBlockPopupBody .u-mZ, .sbYourWorkBox .u-mZ {
    margin: 0 !important;
    position: relative;
}

#sponsorBlockPopupBody .hidden, .sbYourWorkBox .hidden {
    display: none !important;
}


/*
 * Your Work box
 */
.sbYourWorkBox {
    margin: 16px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 2px solid var(--sb-grey-bg-color);
}

.sbYourWorkBox a,
.sbYourWorkBox button {
    cursor: pointer;
}

.sbYourWorkCols {
    display: flex;
    border-top: 2px solid var(--sb-grey-bg-color);
}

/*
 * Increase font size of username input and display
 */
#usernameValue,
#usernameInput {
    font-size: 16px;
    flex: 1 0;
}

#sponsorTimesContributionsDisplay {
    font-size: 16px;
}

/*
 * <button> elements that have icons
 */
 #setUsernameButton,
 #copyUserID,
 #submitUsername {
     color: var(--sb-main-fg-color);
     background: transparent;
     width: fit-content;
     padding: 0;
     border: none;
 }

/*
  * Improve alignment of username and submissions
  */
#usernameElement>p,
#sponsorTimesContributionsContainer {
    text-align: left;
}

/*
  * Username
  */
#usernameElement {
    padding: 8px 14px;
    min-width: 40%;
    width: 100%;
}

#setUsernameContainer {
    display: flex;
    align-items: center;
    width: fit-content;
}

#setUsernameContainer>button {
    display: flex;
}

#setUsernameButton {
    margin-right: 5px;
    flex: 0 1;
}

.cbPopupButton {
    width: 16px;
    fill: var(--sb-main-fg-color);
}

#submitUsername {
    padding-left: 16px;
}

#copyUserID {
    width: 100%;
    flex: 0 1;
}

/*
  * Truncate username display
  */
#usernameValue {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 8px 0 0;
    max-width: 105px;
}

/*
  * Set username form container with "expanded" state
  */
#setUsername.SBExpanded {
    text-align: left;
}

.SBExpanded {
    display: flex;
}

/*
  * Set username input
  */
#usernameInput {
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    width: calc(100% - 68px);
    text-overflow: ellipsis;
    color: var(--sb-main-fg-color);
    background-color: var(--sb-grey-bg-color);
}

/*
  * Submissions
 */
#sponsorTimesContributionsContainer {
    padding: 8px 14px;
    border-left: 2px solid var(--sb-grey-bg-color);
}